<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Term</title>
</head>
<body>
  
    <a href="/">Back to home page</a>
    <a href="/terms">List of terms</a>
<ul>
    {{#term}}
  <li>{{name}}</li>
  <li>{{definition}}</li>

  <form action="/terms/{{id}}?_method=DELETE" method="POST">
    <button type="submit">Delete term</button>
  </form>
  {{/term}}
</ul>
</body>
</html>